{% extends 'basic.html' %}
{% load static %}

{% block title %} about {% endblock title %}

{% block navi %}

<section class="page-section about-heading">
  <form action="/auth/feedback/" method="post">{% csrf_token %}>
    <div class="container">
      <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="{% static 'assets/img/about.jpg' %}"
        alt="..." />
      <div class="about-heading-content">
        <div class="row">
          <div class="col-xl-9 col-lg-10 mx-auto">
            <div class="bg-faded rounded p-5">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Strong Coffee, Strong Roots</span>
                <span class="section-heading-upper"> Feedback for us!!</span>
              </h2>

              <p>If you have any comments, suggestions or feedback, please feel free to reach out
                to us. !!
                <br>
                Your feedback is valuable to us.
              </p>

                <label for="fname">First Name</label>
                <input type="text" id="fname" name="firstname" placeholder="Your name..">
                <br>
                <label for="lname">Last Name</label>
                <input type="text" id="lname" name="lastname" placeholder="Your last name..">
                <br>
                <label for="country">Country</label>

                <select id="country" name="country">
                  <option value="australia">Australia</option>
                  <option value="canada">Canada</option>
                  <option value="usa">USA</option>
                  <option value="India">India</option>
                  <option value="Nepal">Nepal</option>
                </select>
                <br>
                <br>
                {% for message in messages %}

                <div class="alert alert-{{message.tags}} alert-dismissible">
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
                  <strong> {{message}}!</strong>
                </div>

                {% endfor %}
                <label for="subject">Your Feeback/comments/suggestions:</label>
                <br>
                <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>

                <div class="col-md-12 text-center">
                  <button type="submit " class="btn btn-success m-2 py-1 "> Submit </button>
                </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</section>

{% endblock navi %}