{% extends 'basic.html' %}
{% load static %}

{% block title %} signUp {% endblock title %}

{% block navi %}

<form action= "/auth/signup/" method="post">{% csrf_token %}>

    <div class="mx-auto col-5 col-md-5 col-lg-4" color:red id="myform">
      <br>
      <br>
      {% for message in messages %}

      <div class="alert alert-{{message.tags}} alert-dismissible">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
        <strong> {{message}}!</strong>
      </div>

      {% endfor %}
      
      <label for="exampleInputEmail1" class="text-danger list-hours  m-1 py-2"> Email address</label>

      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" required />

      <div id="emailHelp" class="text-success list-hours m-1 py-1">We'll never share your email with anyone else.</div>
    </div>

    <div class="mx-auto col-5 col-md-5 col-lg-4">

      <label for="exampleInputPassword1" class="text-danger list-hours m-1 py-2">Password</label>

      <input type="password" class="form-control" id="exampleInputPassword1" name="pass1" required/>
  
    </div>

    <div class="mx-auto col-5 col-md-5 col-lg-4">
  
      <label for="text-success" class="text-danger list-hours m-1 py-2 fas fa-lock">Confirm Password</label>
        <!-- <label for="exampleInputPassword1" class="text-success">Confirm Password </label> -->

        <input type="password" class="form-control" id="exampleInputPassword1" name = "pass2" required/>
    </div>

    <div class="col-md-12 text-center">
      <button type="submit " class="btn btn-success m-2 py-1 " > Submit </button>
    </div>

    <div class="text-success text-center">
    
      Already a User ? <a href="/auth/signin/"> Log-In </a>
      
    </div>

</form>

{% endblock navi %}